<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escapegoatdata.myke"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.escapegoatdata.myke.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name="com.escapegoatdata.myke.Network" />
         <activity android:name="com.escapegoatdata.myke.Show" />
         <activity android:name="com.escapegoatdata.myke.Stuff" />
         <activity android:name="com.escapegoatdata.myke.Ticket" />
         <activity android:name="com.escapegoatdata.myke.Search" />
         <activity android:name="com.escapegoatdata.myke.BandPage" />
         <activity android:name="com.escapegoatdata.myke.Event" />
         <activity android:name="com.escapegoatdata.myke.RecordAudio" />
         <activity android:name="com.escapegoatdata.myke.RecordVideo" />
         <activity android:name="com.escapegoatdata.myke.Share" />
         <activity android:name="com.escapegoatdata.myke.Playback" />
         <activity android:name="com.escapegoatdata.myke.Backstage" />
         <activity android:name="com.escapegoatdata.myke.Whisper" />
         <activity android:name="com.escapegoatdata.myke.Myke" />
         <activity android:name="com.escapegoatdata.myke.Tracks" />
         <activity android:name="com.escapegoatdata.myke.Cameras" /> 
         <activity android:name="com.escapegoatdata.myke.Artists" />
         <activity android:name="com.escapegoatdata.myke.Events" />
         <activity android:name="com.escapegoatdata.myke.EventPage" />
         <activity android:name="com.escapegoatdata.myke.VenuePage" />
         <activity android:name="com.escapegoatdata.myke.ArtistList" />
         <activity android:name="com.escapegoatdata.myke.EventList" />
         <activity android:name="com.escapegoatdata.myke.VenueList" />
         <activity android:name="com.escapegoatdata.myke.Media" />
         <activity android:name="com.escapegoatdata.myke.Tour" />
         <activity android:name="com.escapegoatdata.myke.Info" />
         <activity android:name="com.escapegoatdata.myke.Downloads" />
         <activity android:name="com.escapegoatdata.myke.PickSeat" />
         <activity android:name="com.escapegoatdata.myke.BuyNow" />
          <activity android:name="com.escapegoatdata.myke.Exclusive" />
          <activity android:name="com.escapegoatdata.myke.Store" />
          <activity android:name="com.escapegoatdata.myke.Header" />
          <activity android:name="com.escapegoatdata.myke.Camera" />
          <activity android:name="com.escapegoatdata.myke.Recap" />
        
    </application>

</manifest>
